@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 18;
}
.r1 {
  border-width: 1px;
  border-color: black;
  margin: 5px;
}
.s {
  border-width: 2px;
  border-color: black;
  height: 100%;
}
.r2 {
  height: 500px;
}
